.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.login-card {
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.routine-card {
  max-width: 600px;
  margin: 20px auto;
}

.add-exercise-btn {
  margin-top: 10px;
  font-size: 14px;
  padding: 5px 15px;
  line-height: 1.5;
}

.exercise-group {
  margin-top: 20px;
  border: 1px solid #dee2e6;
  padding: 15px;
  border-radius: 8px;
}

.delete-exercise {
  font-size: 12px;
  padding: 3px 10px;
}

/* Pseudo guardado */
.saved-exercises {
  margin-top: 20px;
}

.saved-exercise-item {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
}
h1 {
  color: #2c3e50;
}

p {
  color: #34495e;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #aa0f31fb;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

 /* Place the navbar at the bottom of the page, and make it stick */
 .navbar {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



/* Add a green background color to the active link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
} 

/*Estilo para el registro*/

/* styles.css */

/* Estilo para el contenedor del registro */
.registro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #f8f9fa; /* Color de fondo claro */
}

/* Estilo para la tarjeta del formulario */
.login-card {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

/* Estilo para los encabezados */
.card-header {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
}

/* Estilo para el cuerpo del formulario */
.card-body {
  padding: 20px; /* Espaciado interno */
}

/* Estilo para los botones */
.btn {
  width: 100%; /* Botones ocupan todo el ancho */
}

/* Estilo para los campos de entrada */
.form-control {
  border-radius: 5px; /* Bordes redondeados en los campos */
}

/* Estilo para el enlace de volver al login */
.text-center a {
  margin-top: 10px; /* Espacio entre el botón y el enlace */
}
